.alert {
    z-index: 9999;
    width: 100%;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.alert-success {
    background-color: #22bb33;
}

.alert-danger {
    background-color: #bb2124;
}

.alert-warning {
    background-color: #f0ad4e;
}

.alert-info {
    background-color: #5bc0de;
}